    <br>
    <form action="/search/invoiceID" method="POST">
<input type="text" name="invoiceID" placeholder="Enter Invoice ID">

        <br><br>
        <button type="submit">Search</button><br><br>
    </form>