<br><br><form action="/search/manufacturer" method="post">
    <label for="manufacturer">Enter Manufacturer:</label><br><br>
    <input type="text" id="manufacturer" name="manufacturer" required><br><br>
    <input type="submit" value="Search"><br><br>
</form>
